

body {
	background-color: rgb(46,16,0);
	background-image: url('/home/marko/code/BelBoscoGH/img/pozadinaBB.jpg');
 	background-repeat: no-repeat;
 	background-size:auto auto;
}

header {		
	width:100%;
	height:20%;
	font-size: 80px;
	color:#FFFFFF;
	font-family: 'Playball', cursive;
	margin-left:5%; 
	margin-top: 3px;
}   

.row{
	color:#FFFFFF;
	padding: 5%;
	margin-left:5%;
}

.main{
	
	background-color: rgba(46,16,0,0.7);
	height:65%;
	width:100%;
	position:fixed;	
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	z-index:100;	
}

#headerWraper{
	
	height:155px;
	width:100%;
	background-image: url("");
	background-repeat: no-repeat;

}

#footer{
	bottom:0%;
	position: absolute;
	height:20%;
	width:100%;
	
}

#about {
	margin-top: 5%;    
	margin-left: 10%;
	background-color: rgba(46,16,0,0.5);
	color:#FFFFFF;
	height:60%;	
	position:fixed;
}

#gallery {
	left: -10000px;    
	z-index:10;
	color:#FFFFFF;
	height:60%;
	width:100%;
	position:fixed;
	overflow-y: auto;	
}

#standard {   
	z-index:10;
	color:#FFFFFF;
	height:400px;
	width:100%;
	position:fixed;
	overflow-y: auto;
}
.navbar-default{
	height: 2px;
	min-height: 5px;
	margin-right: 0px;
	font-family: arial;
	color:#FFFFFF;
	font-size: 12px;
	background-color: rgb(46,16,0);
	border-color: rgb(46,16,0);		
}